<h1>Du hast eine neue Nachricht bekommen.</h1>
<p>Name: <%= @message.name %></p>
<p>Email: <%= @message.email %></p>
<p>Betreff: <%= @message.subject %></p>
<p>Nachricht: <%= @message.message %></p>
<br />
<br />
<p>Einen wunderschönen tag!</p>
<p>Dein WichteHuus</p>
